/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 16 Feb 2026, 11:34:10
    Author     : niamh maddy
*/

/* actual required css (like this css makes stuff work)*/



/* non-required css (this css was mostly just to make my life easier when coding so you can delete/change all this)*/
img {
    width: 100px;
}
